body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
header {
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
}
.site-navigation a {
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: #a3c7de;
}
.site-navigation a:active {
  color: #bcbcbc;
}
.site-navigation {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.site-navigation li {
  width: 239px;
  text-align: left;
  padding-left: 72px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.site-navigation li:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
}
.site-navigation li:nth-child(3) {
  text-align: right;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 99px;
}
.site-navigation li:nth-child(4) {
  text-align: right;
  padding-right: 72px;
  padding-left: 0px;
}
.nav-logo {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 530px;
  top: 0px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}
.main-img {
  width: 1200px;
  margin: 0;
  padding: 0;
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0 -55px;
  position: relative;
}
.main-img::after {
  content: "";
  width: 1200px;
  height: 59px;
  background: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
}
.intro-img {
  width: 459px;
  height: 353px;
  display: block;
  margin: 0 auto;
  padding-top: 76px;
  padding-bottom: 79px;
}
.advertising {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
}
.advertising h3 {
  width: 440px;
  margin: 0 auto 30px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top:61px;
}
.advertising p {
  margin: 0 auto;
  padding-bottom: 49px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.reason {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #a3c7de;
}
.reason-text h3 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin: 46px auto 0;
  width: 151px;
}
.reason.right h3{
  width: 125px
}
.reason-text {
  margin: 0;
  padding: 0;
  width: 400px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
.reason.right {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}
.reason-text p {
  margin: 23px auto 0;
  font-weight: 400;
  width: 280px;
}
.reason-text.left p {
  width: 310px;
}
.features {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff
}
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features-list h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-weight: 700;
}
.feature-item h3 {
  margin-top:160px;
  text-align: center;
  position: relative;
}
.house h3::before {
  content: "";
  width: 75px;
  height: 72px;
  background: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: -100px;
  left: 164px;
}
.food h3::before {
  content:"";
  width: 75px;
  height: 72px;
  background:url("../img/icon-3.svg");
  background-repeat: no-repeat;
  position: absolute;
  top:-100px;
  left: 164px;
}
.gift h3::before {
  content: "";
  width: 64px;
  height: 76px;
  background:url("../img/icon-2.svg");
  background-repeat: no-repeat;
  position: absolute;
  top:-103px;
  left: 168px;
}
.feature-item p {
  margin: 27px auto 80px;
  text-align: center;
}
.feature-item.house p {
  width: 252px;
}
.feature-item.food p {
  width: 290px;
}
.feature-item.gift p {
  width: 273px;
}
.feature-item {
  width: 400px;
}
.reasons{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #eeeeee;
}
.reasons-list{
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.reasons-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  width: 150px;
  margin: 46px auto 25px;
}
.reasons-item {
  width: 400px;
}
.reasons-item p.number{
  margin-bottom: 23px;
}
.reasons-item p {
  margin: 0 auto 63px;
  width: 250px;
}
.reasons-item:nth-child(2) p {
width: 265px;
}
.search h2 {
  margin: 0 auto 30px;
  padding-top: 45px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}
.search {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}
.search-info {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0 auto 48px;
  width: 398px;
  text-align: center;
}
.button-search {
  margin:0 auto;
  width: 568px;
  padding: 30px 0px;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}
.button-search:hover,
.button-search:focus {
  background-color: #604e43;
}
.button-search:active {
  color: #857871;
  background-color: #503e33;
}
.window-search {
  background-color: #ffffff;
  width: 568px;
  margin:0 auto;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding: 41px 0 55px;
  position: absolute;
  top: 286px;
  left: 50%;
  transform: translateX(-50%);
}
.search-item,
.search-item-adult{
  margin-left:55px;
}
.search-item input,
.search-item-adult input {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  border: 0px solid #f2f2f2;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
.search-item input {
  width: 346px;
  padding: 14px 230px 13px 13px;
}
.search-item input:focus,
.search-item input:focus {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  border: 0px solid #ebebeb;
  background-color: #ebebeb;
}
.search-item.in input {
 margin-left:  21px;
}
.search-item.out input {
 margin-left: 17px;
}
.button {
  width: 38px;
  border:none ;
  background-color: #f2f2f2;
  padding: 11px 13px;
  margin: 0;
  font: 700;
  font-size: 21px;
  color:#a9a9a9;
}
.search-item-adult input {
  width: 38px;
  padding: 12px 13px 13px ;
  margin-left:0;
}
.search-item-adult {
  display: flex;
  align-items: center;
}
.button.minus {
  margin-left: 41px;
}
.button.plus {
  margin-right: 53px;
}
.button.child-minus {
  margin-left: 27px;
}
.window-open {
  display: block;
}
.button-submit {
  width: 458px;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  padding: 17px 197px 22px 196px;
  margin: 40px 55px 0;
}
.button-submit:hover,
.button-submit:focus {
  background-color: #669ec0;
}
.button-submit:active {
  color: #88b6d1;
  background-color: #5496bd;
}
.current {
  color: #766357;
}
.choose-hotels {
  margin: 0;
  padding: 0;
}
.infrastructure {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
}
.category {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  list-style: none;
}
.catalog-list {
  list-style: none;
}
 .catalog h3 a {
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.catalog h3 a:hover,
.catalog h3 a:focus {
  color: #88b6d1;
}
.catalog h3 a:active {
  color: #bcbcbc;
}
.button-more,
.button-book {
  text-decoration: none;
}
.button-more {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}
.button-more a:hover,
.button-more a:focus {
  background-color: #669ec0;
}
.button-more a:active {
  color: #88b6d1;
  background-color: #5496bd;
}
.button-book {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
}
.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}
.button-book:active {
  color: #857871;
  background-color: #503e33;
}
.filter-hotel {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  background:url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 217px;
  background-position: 0 -305px;
}
.catalog {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.catalog-list {
  margin: 0;
  padding: 0;
}
.catalog-item {
  margin: 0;
  padding: 0;
  display: flex;
}
.catalog-list li:last-child {
  margin-bottom: 120px;
}
.catalog-item img {
  margin-top:  30px;
  margin-left: 72px;
  margin-bottom: 30px;
  margin-right: 30px;
}
.catalog-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
  margin-top: 25px;
}
.catalog-item-category-price {
  margin: 0;
  padding: 0;
}
.catalog-category p:first-child {
  margin-bottom: 18px;
}
.catalog-category:first-child {
  margin-right: 39px;
}
.catalog-category.motel {
  margin-right: 64px;
}
.catalog-category.apart {
  margin-right: 21px;
}
.button-more {
  margin-right: 6px;
  padding: 8px 17px 7px;
}
.button-book {
  padding: 8px 16px;
}
.rating-stars {
  background:url("../img/star.svg") repeat-x;
}
.rating-text {
  margin-top: 52px;
  font-size: 14px;
  line-height: 21px;
  font: 400;
  padding: 5px 13px 6px 16px;
  background-color: #f2f2f2;
  margin-bottom: 30px;
}
.raiting {
  margin-right: 73px;
  margin-left: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.hight {
  width: 72px;
  height:17px;
}
.middle {
  width: 54px;
  height:17px;
}
.low {
  width: 36px;
  height:17px;
}
.main-footer {
  background:rgba(255,255,255,0.9);
  margin-top: 0px;
  padding: 0;
  margin-top: -120px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-footer p {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.hashtag{
  padding-left: 136px;
}
.map{
  width: 1200px;
  height: 594px;
  background:url("../img/map.jpg");
  background-repeat: no-repeat;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
.social-button {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social {
  text-align: center;
  list-style: none;
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding: 36px 225px;
  margin-left: 20px;
}
.social a {
  text-decoration: none;
}
.main-footer a {
  color: #000000;
  text-decoration: none;
}
.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button:active path {
  fill: #87b6d1;
}
.footer-copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  align-items: center;
}
.button-academy {
  width: 115px;
  height: 41px;
  margin-right: 101px;
  margin-left: 8px;
}
.button-academy:hover path,
.button-academy:focus path {
  fill: #81b3d2;
}
.button-academy:active path {
fill:#bdbbbc;
}
